*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}


nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:10px;
    padding:10px 0;
}

.sign-in , .join-now {
    border-radius:20px;
    height:35px;
    padding: 0 1rem;
}

.sign-in {
    border:1px solid black;
    background-color: white;
}

.join-now {
    border:none;
    background-color: black;
    color: white;
}


.row { 
    display:flex;
    width:100%;
    padding: 50px 0;
}


/* Footer */


.footer {
    padding: 50px 15% 10px;
    border-top: 2px solid #eee;
    color: #777
}
.footer h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #333;
}

.footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer .row {
    align-items: flex-start;
    padding: 10px 0;
}

/* footer extended */

.footer-extended {
    align-items: flex-start;
    margin: 60px;
    border-top: 2px solid #eee;
}

.social-links {
    padding-top: 30px;
}